$primary-color: #eb4614; //#F55826; //#394EFF;
$background-color: #f7efec;
$anim-duration: 125ms;

@media only screen and (max-width: 768px){
    p {
        // width: 95%;
        margin: auto;
    }

    h2 {
        font-size: 1.5rem!important;
    }

    .Header {
        .minicontact {
            margin-top: -0.5rem;
            
            .row {
                &:nth-child(1){
                    margin-bottom: .25rem;
                }            
            }
            a {
                text-decoration: none;
            }
            svg {
                margin-bottom: -6px;
                color: $primary-color;
                margin-right: 6px;
            }
            small {
                color: $primary-color;
            }
        }
    }

    .Title {

        h5 {
            font-size: 1rem!important;
        }

        .Title-wrapper {
            margin: auto;

            h1 {
                font-size: 64px!important;
            }

            
            
            img {
                height: 16px!important;
                bottom: 14px!important;
                right: -22px!important;
            }
        }
    }

    .NewWorks {
        width: calc(100% - 2rem)!important;
    }

    .Works {
        width: calc(100% - 2rem);
    }

    .Works,
    .recent-works 
    {
        background-color: transparent!important;
        box-shadow: none!important;

        ul {
            margin: 1rem 0;
        }

        li {
            flex: 1 1 100%;
            // margin: 0 13px 2rem 13px;
            margin: 0 0 2rem;
            width: 100%;
            cursor: pointer;
            transform: scale(1);
            transition: all $anim-duration linear;
            list-style: none;
        }

        a {
            img {
                height: 169px;
                width: 100%;
            }
        }
    }

    .Work,
    .recent-work {
        a {
            img {
                // object-position: center!important;
            }

            .companylogo-wrapper {
            
                // transform: scale(0.975);
                transition: all $anim-duration linear;
                flex: 0 1 auto;
                justify-content: center;
    
                
    
                .companyLogo {
                    width: 120px;
                    height: 120px;
                    cursor: pointer;
                    
                }
    
                .title {
                    // filter: grayscale(1);
                    font-size: 1.15rem!important;
                    
                }
    
                .subtitle {
                    font-size: .85rem;
                }
            }
        }
    }

    .About {
        width: calc(100% - 2rem)!important;
        // padding: 0 1rem 5rem 1rem!important;
        background-color: transparent!important;
        box-shadow: none!important;

        .minicontact {
            > div {
                flex-direction: column;
                
                p {
                    margin: auto;
                }
            }
        }
    }

    .Features {

        h2 {
            padding: 0 1rem;
        }

        h3 {
            margin-top: 24px;
            margin-left:0!important;
        }

        h4 {
            padding: 0 1rem;
            // font-size: 1rem;
            text-align: left!important;
        }

        p {
            margin-left:0!important;
        }

        li {
            padding-left: 0!important;
        }

        .Features-wrapper {
            width: calc(100% - 2rem)!important;
            background-color: transparent!important;
            box-shadow: none!important;
            // padding: 0 1rem 5rem 1rem!important;
            margin-top: 0!important;

            .Feature-wrapper {
                flex-direction: column;
                margin-top: 56px;
    
                img {
                    margin: auto;//auto 32px;
                }
            }
        }
    }

    .FAQ {
        width: calc(100% - 2rem)!important;

        .row {
            display: flex!important;
            flex-wrap: wrap;
            flex: 0 1 auto;
            -webkit-box-direction: normal;
            margin: auto;
            max-width: 100%!important;
        // }
        // .col {
            

            h5 {
                padding: 0!important;
                white-space: break-spaces!important;
            }

            p {
                padding: 0!important;
                font-size: 16px!important;
                width: fit-content!important;
                margin: .5rem 0 2rem!important;
            }
        }

        .noanswer {
            a {
                display: inline-flex;
            }
        }
    }

    .Contact {
        width: calc(100% - 2rem);
        background-color: transparent!important;
        box-shadow: none!important;
        padding: 0!important;
        margin: auto;

        p {
            margin-left: auto!important;
            width: fit-content;
        }

        .container {
            width: 100%!important;
        }

        input {
            width: 50%;
        }

        .CheckList {
            margin-left: 0!important;

            h4 {
                text-align: center;
            }

            .CheckList-wrapper {
                width: 50%;
                margin: auto!important;
            }
        }

        .confirmation-wrapper {
            padding-right: 15px;
            padding-left: 15px;
            
            p {
                text-align: right;
                width: 100%;
                padding-right: 15px;
            }
        }

        .additional {
            > div {
                flex-direction: column;
            }
        }
    }
    .Footer {
        padding: 2rem 1rem 1rem;
        background-color: white;
        border-top: 2px solid $primary-color;
        // border-bottom: 2px solid $primary-color;
        // background-color: $primary-color;

        .links-wrapper {
            margin-bottom: 24px;
        }
        
        .Footer-wrapper {
            display: block!important;

            .left {
                // text-align: center!important;
            }

            .left, .right {
                text-align: left!important;
                display: block!important;
            }

            small {
                margin-bottom: .25rem!important;
            }

            .social-wrapper {
                margin: 2rem auto;
                margin-bottom: 4rem!important;
                justify-content: flex-start!important;

                svg{
                    margin-left: 0!important;
                    margin-right: 2.5rem!important;
                    width: initial!important;
                }
            }
        }
    }

    .CaseStudypage {
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .before-after {

            .header {
                .before,
                .after {
                    display: none;
                }
            }
    
            .contents {
                flex-wrap: wrap;

                .before,
                .after {
                    display: block;
                    background-color: #f7f8ff!important;
                    margin: 0;
                    width: 100%;
                    font-weight: 600;
                    letter-spacing: .5px;
                }

                div {
                    // width: 90%!important;
                    min-width: 100%!important;
                    // max-width: 90%!important;
                    height: 190px;

                    &:not(.blank) {
                        margin-bottom: 24px; 
                    }

                    &:nth-child(2) {
                        margin-top: 24px;
                    }

                    &.blank:after {
                        top: 55%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 620px){
    .Header {
        width: 100vw!important;

        .Header-wrapper{
            position: fixed;
            display: flex;
            justify-content: space-between;
            width: 100%;
            z-index: 99;
            top: 0;
            background-color: white;
            box-shadow: 1px 1px 1px rgba(0,0,0,.15);
        }

        .logo {
            height: 32px!important;
            opacity: 1;
            transition: all $anim-duration linear;
        }

        .hamburger-wrapper {
            margin: auto .1rem;
            z-index: 101;
        }

        
    }

    #ourwork, #faq, #contact {
        padding-top: 64px!important;
    }

    .Contact {


        input {
            width: 85%!important;
        }

        p {
            // margin: auto .5rem!important;    
            width: 85%;
        }

        .CheckList {
            .CheckList-wrapper {
                width: 65%;
            }
        }
    }

    .Footer {
        .Footer-wrapper {
            .row {
                .social-wrapper {
                    justify-content: center!important;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    p {
        max-width: 550px;
        margin: auto;
    }

    .container {
        padding: 0 2rem;
    }

    .Header {
        max-width: 960px;
        margin: auto;
    }

    .NewWorks {
        max-width: 860px;
        margin-top: 156px;
    }

    .Works {
        max-width: 860px;

        ul {
            margin: 1rem 0;
        }

        li {
            flex: 1 1 46%;
            margin: 0 13px 2rem 13px;
            width: 100%;
            cursor: pointer;
            transform: scale(1);
            transition: all $anim-duration linear;
            list-style: none;
        }

        a {
            img {
                height: 239px;
                width: 100%;
            }
        }
    }

    .Features-wrapper {
        max-width: 860px;
    }

    #about {
        max-width: 860px;
    }

    .recent-works {

        .recent-work {
            max-width: 47.5%;
        }

        a {
            margin: auto;
            background-color: transparent!important;
            // max-width: 20%;

            img {
                // height: 450px;
                width: 100%;
                // max-width: 720px;
                // object-fit: ;
                object-position: center;
            }

            .title {
                font-size: 1.65rem!important;
                margin-bottom: 6px;
            }
            .subtitle {
                font-size: 1.1rem!important;
                max-width: 620px;
                margin: auto;
                line-height: 1.5rem;
            }
        }
    }

    .Contact {
        input {
            width: 50%;
        }
    }

    .Footer {
        .Footer-wrapper {
            .social-wrapper {
                justify-content: flex-end;
            }
        }
    }
}