$primary-color: #F55826; //#394EFF;
$background-color: #f7efec;
$anim-duration: 250ms;

@media only screen and (max-width: 769px){
    p {
        width: 95%;
        margin: auto;
    }

    .FAQ {
        .col {
            max-width: initial!important;
        }
    }

    .Contact {
        p {
            margin: auto!important;
            width: fit-content!important;
        }
    }

    .Footer-wrapper {
        display: block!important;

        .left, .right {
            text-align: left!important;
            display: block!important;
        }

        .social-wrapper {
            margin: 2rem auto;

            svg{
                margin-left: 0!important;
                margin-right: 2.5rem!important;
            }
        }
    }
}

@media (min-width: 768px) {
    p {
        max-width: 550px;
        margin: auto;
    }

    .container {
        padding: 0 2rem;
    }

    .Works {
        ul {
            margin: 1rem 0;
        }

        li {
            flex: 1 1 46%;
            margin: 0 13px 2rem 13px;
            width: 100%;
            cursor: pointer;
            transform: scale(1);
            transition: all $anim-duration linear;
            list-style: none;
        }

        a {
            img {
                height: 239px;
                width: 100%;
            }
        }
    }
}