$primary-color: #F55826; //#394EFF;
$background-color: #f7efec;
$anim-duration: 250ms;

@media only screen and (max-width: 769px){
    
}

@media (min-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    .Works {
        ul {
            margin: 1rem 0;
        }

        li {
            flex: 1 1 46%;
            margin: 0 13px 2rem 13px;
            width: 100%;
            cursor: pointer;
            transform: scale(1);
            transition: all $anim-duration linear;
            list-style: none;
        }

        a {
            img {
                height: 239px;
                width: 100%;
            }
        }
    }
}